body {
    margin: auto;
    width: 850px;
}
main {
   height: 450px;
   padding-top: 10px;
   margin: auto;
}
.centered {
    
   color:white;
   grid-column: 2/3;
   font-size: 100px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   text-align: center;
}
p.top {
     font-size: 25px;
}
section{
   padding-top: 20px;
   display: flex;
   height: 324px;
}
article {
   width: 270px;
   height: 324px;
   padding: 20px;
   background-color: rgb(230,230,230);
}
