body {
    margin: auto;
    width: 850px;
}

main {
   height: 450px;
   margin: auto;
   background-image: url(space.jpg);
   }
header {
   color:white;
   grid-column: 2/3;
   margin: auto;
   font-size: 100px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   text-align: center;
   padding-top: 155px;
  }
  p.top {
     font-size: 25px;
   }
section{
   display: flex;
   height: 324px;
}
article {
   width: 270px;
   height: 324px;
   padding: 20px;
   

   
   
   background-color: rgb(230,230,230);
}